.body{
background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(images/jungle.jpg);
background-position: center;
background-size: cover;
color: white;
font-family: "Lato", sans-serif;
font-weight: 400;
font-style: normal;
height: 100vh;
background-repeat: no-repeat;
}
h1{
  text-shadow: 2px 2px black;
  font-size: 59px;
  letter-spacing: 4px;
  text-align: center;
}
h2{
  text-align: center;
  text-shadow: 2px 2px black;
  font-size: 40px;
  letter-spacing: 2px;
}
h4{
  letter-spacing: 5px;
  text-align: center;
  font-size: 30px;
  text-shadow: 2px 2px black;
}
#game{
  background: url(images/soil.png);
  background-size: cover;
  width: 580px;
  height: 580px;
margin: 0 auto;
  border-radius: 8px;
  display: flex;
box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
  flex-wrap: wrap;
}
#game div {
  width: 170px;
  margin: 10px;
border-radius: 100px;
  height: 180px;
  background-image: url(images/hole.png);
  background-size: cover;
  flex-wrap: wrap;

}
#game div img{
  width: 110px;
  margin-left: 80px;
  cursor: pointer;
  margin-top: 20px;
  height: 110px;
  position: absolute;
}

@media(max-width:500px){
  #game{
    width: 390px;
  height: 390px;
}
#game div {
  width: 109px;
  height: 109px;
}
#game div img{
    width: 80px;
height: 80px;
margin-left: 1px;
}
}